@charset "UTF-8";
*{
    margin: 0%;
    padding: 0;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    background: rgb(202, 201, 201);
}
main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 60vw;
    height: 30vw;
    background: black;
    border-radius: 10px;
}
#Titulo{
    display: flex;
    width: 60vw;
    justify-content: space-around;
}
h1, h2, label{
    font-size: 3vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}
#teclas {
    display: flex;
    width: 60vw;
    height: 20vw;
    align-items: flex-start;
}
.teclabranca, .teclapreta{
    display: flex;
    width: 10vw;
    border-radius: 10px;
    align-items: flex-end;
    font-size: 3vw;
    cursor: pointer;
    border: 1px solid black;
}
.teclabranca{
    width: 15vw;
    height: 20vw;
    background: white;
    margin: 0 1px 0 1px;
}
.teclapreta{
    height: 15vw;
    background: rgb(39, 38, 38);
    color: white;
    z-index: 2;
    border-radius: 0 0 10px 10px;
    margin: 0 -22px 0 -22px;
}
#ivolume{
    accent-color: white;
    cursor: pointer;
    width: 10vw;
}
#iaudio{
    cursor: pointer;
    width: 2.5vw;
    height: 2.5vw;
    border: none;
    /*
    appearance: none;
    background: red;
    border-radius: 20px;
    */
}
.esconda span{
    display: none;
}